*{
	margin: 0;
	padding: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.all{
	width: 1336px;
	height: 1332px;
	background-image: url(cpzs.png);
	overflow: hidden;
}
.head{
	width: 100%;
	height: 34px;
	background-color: #010102;
}
ul{
	display: inline-block;
	list-style: none;
	width: 979px;
	margin-left: 192px;
	
}
.li1{
	margin-left: 0px;
}
li{
	float: left;
	margin-left:39px;
	font-size: 10px;
	line-height: 34px;
	font-family: "microsoft yahei";
}
li a{
	color: white;
	text-decoration: none;
}
.content {
	width: 979px;
	margin: auto;
}
.content span{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	margin-top: 30px;
	font-family: "microsoft yahei";
	margin-bottom: 10px;
}
.c1{
	height: 358px;
	margin-top: 20px;
	background-color: #f5f5f5;
}
.c1l{
	float: left;
	margin-left: 24px;
	margin-top: 24px;
	width: 553px;
	height: 328px;
	background-image: url(cyy1.png);
}
.c1r{
	float: left;
	margin-top: 24px;
	width: 375px;
	height: 279px;
	margin-left: 25px;
}
 h3{
	font-size: 16px;
	color: #3b3b3b;
	font-family: "microsoft yahei";

}
.h{
	width: 25px;
	height: 5px;
	background-color: red;
	margin-top: 15px;
}
 p{
	font-size: 10px;
	font-family: "microsoft yahei";
	color: #3c3c3c;
	margin-top: 10px;
}

.c2{
	height: 358px;
	margin-top: 20px;
	background-color: #f5f5f5;
}

.c2r{
	float: left;
	margin-left: 24px;
	margin-top: 24px;
	width: 553px;
	height: 328px;
	background-image: url(cyy2.png);
}
.c2l{
	float: left;
	margin-top: 24px;
	width: 375px;
	height: 279px;
	margin-left: 25px;
}
.c3{
	height: 358px;
	margin-top: 20px;
	background-color: #f5f5f5;
}

.c3l{
	float: left;
	margin-left: 24px;
	margin-top: 24px;
	width: 553px;
	height: 328px;
	background-image: url(cyy3.png);
}
.c4{
	width: 505px;
	height: 25px;
	margin-left: 453px;
	margin-top: 35px;
	padding-bottom: 30px;
}
.lul{ 
	list-style: none;
	text-align: center;
	
}
.lul a{
   color: #000;
   font-size: 10px;
  
}
.lul li{
	line-height: 25px;
	color: #fff;
	float: left;
	margin-left: 5px;
}
.lul .li1{
	width: 25px;
	height: 25px;
	background-color: white
}
.lul .li2{
	width: 55px;
	height: 25px;
	background-color: white;
}
.lul .li1:hover{
	background-color:#7b2783;
}
.lul .li2:hover{
	background-color:#7b2783;
}
.lul li:hover a{
	color: #fff;
}












.footer{
	height: 52px;
	color: #999;
	font-size: 10px;

}
.footer a{
	color: #999;
}
.footer ul{
	display: inline-block;
	list-style: none;
	width:979px;
	margin-left: 192px;
	line-height: 52px;
}
.footer li{
	float: left;
	margin-left:5px;
	font-size: 10px;
	line-height: 52px;
	color: #666;
	font-family: "microsoft yahei";
}
.footer .li1{
	margin-left: 0px;
}
.footer .li2{
	margin-left: 13px;
}