*{
	margin: 0;
	padding: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.all{
	width: 1366px;
	height:772px;
	background-image: url(gszz.png);
}
.head{
	width: 100%;
	height: 34px;
	background-color: #010102;
}
ul{
	display: inline-block;
	list-style: none;
	width: 979px;
	margin-left: 192px;
	
}
.li1{
	margin-left: 0px;
}
li{
	float: left;
	margin-left:39px;
	font-size: 10px;
	line-height: 34px;
	font-family: "microsoft yahei";
}
li a{
	color: white;
	text-decoration: none;
}
.content {
	width: 979px;
	
	margin: 30px auto;
}
.content span{
	display: inline-block;
	color: #fff;
	font-size:14px;
	margin-bottom: 10px;
}
.c1{
	width: 994px;
	height: 100px;
}
.left{
	float: left;
	width: 487px;
	height: 100px;
	margin-top: 20px;
	background-color: #fff;
	position: relative;
}
.tu{
	float: left;
	width: 119px;
	height: 73px;
	position: absolute;
	top: 15px;
	left: 10px;
	background-image: url(xwzx.png);
}
.zi{
	width: 325px;
	height: 73px;
    position: absolute;
    top: 15px;
    left: 134px;
}
.h5{
	color: #3b3b3b；
	font-size:12px;
}
p{
	font-size: 10px;
	color: #3b3b3b;
}
.p1{
	margin-left: 31px;
}
.right{
	float: left;
	width: 487px;
	height: 100px;
	margin-top: 20px;
	background-color: #fff;
	position: relative;
	margin-left: 20px;
}

.footer{
	height: 52px;
	color: #999;
	font-size: 10px;
	margin-top: 135px;
	background-color: #fff;

}
.footer a{
	color: #999;
}
.footer ul{
	display: inline-block;
	list-style: none;
	width:979px;
	margin-left: 192px;
	line-height: 52px;
}
.footer li{
	float: left;
	margin-left:5px;
	font-size: 10px;
	line-height: 52px;
	color: #666;
	font-family: "microsoft yahei";
}
.footer .li1{
	margin-left: 0px;
}
.footer .li2{
	margin-left: 13px;
}