*{
	margin: 0;
	padding: 0;
}
.clear:after{
	clear: both;
	content: "";
	display: block;
}
.all{
	
	width: 100%;
	
	background-image: url(bj1_1.jpg);
	
 }
.all2{
	width: 1230px;

	background-color: #ffb135;
	margin: 0 auto;
	/*opacity: 0.5*/
}

 
.header{
	float: left;
	width: 1200px;
	height: 226px;
	background-image: url(topbg_03.jpg);
    margin-left: 15px;
}
.header .left{
	float: left;
	width: 557px;
	height: 204px;
	background-image: url(monkey.png);
	margin-left: 10px;
}
.header .right{
	float: left;

	width: 541px;
	height: 100px;
    background-color: white;
    opacity:0.5;
    margin-left:345px; 
    margin-top: 66px;
}
h1{
	margin-left: 10px;
	color: black;
	font-weight: bold;
	font-family: "mircosoft yahei";
	letter-spacing: 10px;
}
p{
	margin-top:20px;
	margin-left: 15px;
	color: black;
	letter-spacing: 10px; 
}
.headr{
	float:right;
	width: 300px;
	height: 30px;
		margin-top: -254px;
}
.headr .left{
	float: right;
	width: 14px;
	height: 28px;
	background-image: url(1_03.png);
	margin-right:314px;
     margin-top: 28px;
}
.headr .right{
	padding-left: 30px;
	float: right;
	width: 254px;
	height: 28px;
    margin-top: -28px;
   margin-right: 15px;
	background-color: #ff9935;
    line-height: 28px;}
.right a{
	
	text-decoration: none;
	color: black;
}

.middle{
	/*float: left;*/
	width: 1200px;
	margin-left: 15px;
	background-color: #ffcc33;
	
}
.mleft{
	float: left;
	margin-top:10px; 
	margin-left: 10px;
	width: 250px;
}
.mleft1{

	width: 235px;
	height: 364px;
	background-color: #fed2a5;
}
.mleft1-top{
	width: 235px;
	height: 44px;
	background-image: url(mid.png);
	background-repeat: repeat-x;
}
.topl{
	width: 39px;
	height: 44px;
	background-image: url(left.png);
	background-repeat: no-repeat;
}
.topl span{
	color: #b62125;
	display: block;
	width: 70px;
	height: 44px;
	line-height: 44px;
	margin-left: 40px;
	font-weight:bold;
}
.topr{
	width: 19px;
	height: 44px;
	background-image: url(right.png);
	background-repeat: no-repeat;
	margin-left: 217px;
	margin-top: -44px;
}.mleft1-m{
	width: 210px;
	height: 210px;
	background-color: white;
	margin:10px auto;
}
.meinv{
	width: 200px;
	height: 200px;
	background-image: url(meinv.jpg);
	margin: auto;
}
.mleft1-bottom{
	width: 210px;
	height: 45px;
}

.other {
	line-height: 24px;
	float: left;
	list-style: none;
	font-size: 12px;
	font-family: "mircosoft yahei";
	overflow: hidden;
	margin-left: 3px;
	width: 67px;
	height: 24px;
	background-image:url(content3.png);
	background-repeat: no-repeat;
	text-align: center;
}
.other a{
	text-decoration: none;
	color: black;
}
.other:hover{
	background-image:url(content2.png);
	background-repeat: no-repeat;
}
.footer{
	margin-top: 20px;
	width: 235px;
	height: 25px;
}
.f-outer{
	width: 235px;
	height:25px;
	background-image: url(footer2.png);
	background-repeat: repeat-x; 
}
.f-left{
	width: 10px;
	height: 50px;
	background-image: url(footer1.png);
	background-repeat: no-repeat;
}
.f-right{
	width: 10px;
	height: 50px;
	background-image: url(footer3.png);
	background-repeat: no-repeat;
	margin-left: 225px;
}


.mleft2{
    /*margin-top: 20px;*/
	width: 235px;
	/*height: 364px;*/
	background-color: #fed2a5;
}
.mleft2 .top{
	margin-top: 20px;
	width: 235px;
	height: 44px;
	background-image: url(mid.png);
	background-repeat: repeat-x;
}
.topr a{
	
	font-size: 22px;
	color: #b62125;
	font-weight:bold;
	margin-left: -31px;
	
	line-height: 38px;
}

.middle2{
	width: 235px;
}
.middle2-m{
	width: 235px;
	height: 23px;
}
.middle2-m .ge{
	list-style: none;
	float: left;
	width: 55px;
	height: 23px;
	line-height: 23px;
	background-image: url(left2_2.jpg);
	background-repeat: no-repeat;
	font-size: 12px;
	font-family: "mircosoft yahei";
	text-align: center;
	margin-left: 2px;
}
.gedan .ge:hover{
background-image: url(left2_1.jpg);
	background-repeat: no-repeat;
}
.musicdan{
	margin-left: 10px;
}
.ge a{
	text-decoration: none;
	color: #000;
}
.middle2-b {
	width: 235px;
	/*height: 23px;*/
	margin-left: 15px;
	line-height: 25px;
}
.musicdan a{
	text-decoration: none;
	color: #000;

}
.middle2-b  li{
	list-style: decimal;
	width:179px;
	font-size: 10px;
	border-bottom: dotted 1px #000;
}
.musicdan li span{
	display: inline-block;
	width: 15px;
	height: 10px;
	background-image: url(ermai_03.png);
	background-repeat: no-repeat;
	float: right;
	margin-right: 2px;
	    margin-top: 8px;
}
.middle3 .st{
	margin-top:5px;
	float: right;
	margin-right: 5px;
	color: #b21f25;
	font-family: "mircosoft yahei"
    font-size:16px;
    font-weight: bold;
}
.footerm{
	margin-top: 30px;
}
.mleft3{
	width: 235px;
	margin-top: 20px;
	/*height: 364px;*/
	background-color: #fed2a5;
}
.m3b{
	width: 235px;
	height: 14px;
}
.left{
	float: left;
	margin-left: 30px;
	width: 57px;
	height: 26px;
	background-image: url(icons2.png);
	background-position:0 0;
}
.mid a{
	float: left;
	margin-left: 21px;
	font-family: "mircosoft yahei";
	font-size: 14px;
	color: #b21f25;
	text-decoration: none;
	font-weight: bold;
	line-height: 26px;
}
.m3b .right{
	float: left;
	margin-left: 22px;
	width: 57px;
	height: 26px;
	background-image: url(icons2.png);
	background-position:0 -30px;
}



.mleft4{
	width: 235px;
	margin-top: 20px;
	background-color: #ffd3a6;
}
.ml4{
	width: 235px;
	height: 204px;
	margin: 0 auto;
	background-image: url(icons2.png);
	background-position: 3px -90px;
	background-repeat: no-repeat;
}
h3{
	width: 227px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #B12226;
}

.ml4 ul{
	width: 165px;
    margin: 0 auto;
    overflow: hidden;
}
.rq li{
    width: 18px;
    height: 17px;
    float: left;
    list-style: none;
    text-align: center;
    padding-right: 5px;
}
.rq li a{
	font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #B12226;
    text-decoration: none
}
.day li{
	width: 20px;
    height: 20px;
    float: left;
    list-style: none;
    text-align: center;
    padding: 0px 3px 3px 0px;
}
.day li a{
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.day li a:hover{
	background-color: #B12226; 
}
.spanl a{
	font-size: 14px;
    line-height: 20px;
    color: #B12226;
    text-decoration: none;
}
.spanr a{
	font-size: 14px;
    line-height: 20px;
    color: #B12226;
    text-decoration: none;
}
.spanl{
	float: left;
    padding-left: 45px;
}
.spanr{
	float: right;
    padding-right: 45px;
}
.m4{
	margin-top: -7px;
}




.mcenter{
    float: left;
    width: 600px;
    height: 1353px;
    margin-top: 10px;
    margin-left: 41px
}

.center1{

	width: 600px;
	height: 300px;
	background-color: #fed2a5;
	text-align: center;
}
.center1-top{
	width:600px;
	height: 44px;
	background-image: url(mid.png);
	background-repeat: repeat-x;
}
.centertl{
	width: 39px;
	height: 44px;
	background-image: url(left.png);
	background-repeat: no-repeat;
}
.center1 span{
	color: #b62125;
	display: block;
	width: 83px;
	height: 44px;
	line-height: 44px;
	margin-left: 15px;
	font-weight:bold;
}
.centertr a{
	text-decoration: none;
	font-size: 22px;
	color: #b62125;
	font-weight:bold;
	margin-left: -31px;
	
	line-height: 38px;
}
.centertr{
	width: 19px;
	height: 44px;
	background-image: url(right.png);
	background-repeat: no-repeat;
	margin-left: 581px;
	margin-top: -44px;
}
.center1-bottom{
	margin-top: 30px;
	width: 600px;
	height:25px;
	background-image: url(footer2.png);
	background-repeat: repeat-x; 
}
.center1-bl{
	width: 10px;
	height: 50px;
	background-image: url(footer1.png);
	background-repeat: no-repeat;
}
.center1-br{
	width: 10px;
	height: 50px;
	background-image: url(footer3.png);
	background-repeat: no-repeat;
	margin-left: 590px;
}

.center1-mid{
	width: 600px;
	height: 202px;
}


.pic{
	padding: 8px 0 0 8px;
	float: left;
	margin-top: 12px;
	margin-left: 44px;
	width:130px;
	height: 200px;
	list-style: none;
}
.pic:hover{
	background: #ff9935;
}
.p1{
	width: 126px;
	height: 126px;
	background-image: url(junren_03.png);
}
.zi{
	margin-top: 10px;
	text-align: center;
	/*line-height: 20px;*/
	font-size: 12px;
}
.toupiao{
	
	margin-top: 10px;
	width: 66px;
	height: 24px;
	background-image: url(BLOG2_r13_c32.jpg);
	margin-left: 32px;
}
.pic:hover .toupiao{
	background-image: url(BLOG2_r13_c25.jpg);
}
.p2{
	
	width: 126px;
	height: 126px;
	background-image: url(yinyuenan_03.png);
}
.p3{

	width: 126px;
	height: 126px;
	background-image: url(qichenan_03.png);
}




.center2{
    margin-top: 20px;
	width: 600px;
	height:289px;
	background-color: #fed2a5;

}
.center2 span{
	color: #b62125;
	display: block;
	width: 144px;
	height: 44px;
	line-height: 44px;
	margin-left: 44px;
	font-weight:bold;
}

.center2-m{
	width: 280px;
	height: 190px;
}
.center2left {
	width: 300px;
	height: 190px;
	float: left;
	line-height: 20px;
	font-size: 14px;
	border-right: 1px #fcb66e solid;


}

.center2right {
	float: left;
	margin-top: -191px;
	width: 280px;
	height: 190px;
	margin-left:307px;
	font-size: 14px;
	line-height: 20px;
}
.center2-m a{
	margin-right: -70px;
    color: #b01d25;
    float: right;
    margin-top: -27px;

}
.center2-m p {
    margin-top: 20px;
    margin-left: 19px;
    color: black;
    letter-spacing: 3px;
}


.center3{
	margin-top: 20px;
    width: 600px;
	height: 300px;
	background-color: #fed2a5;
	text-align: center;
}
.center3 span{
	color: #b62125;
	display: block;
	width: 83px;
	height: 44px;
	line-height: 44px;
	margin-left: 15px;
	font-weight:bold;
}


.center4{
	margin-top: 20px;
    width: 600px;
	height:295px;
	background-color: #fed2a5;
	text-align: center;
}
.center4  .xinq{
	color: #b62125;
	display: block;
	width: 117px;
	height: 44px;
	line-height: 44px;
	margin-left: 15px;
	font-weight:bold;
}
.center4_2{
	height: 220px;
	background: #FFD3A6;
	overflow: hidden;
}

.center4_2 span{
	line-height: 30px;

}
.center4_2 .top{
	font-weight: bold;
	margin-top: 1px;
    height: 36px;
	background: #ffc48a;
	overflow:hidden;
}
.center4_2 .top span{
	float:left;
	display:block;
	line-height:36px;
}
.center4_2 .top .span4{
	width:150px;
	padding-left:50px;
}
.center4_2 .top .span5{
	width:133px;
	padding-left:30px;
}
.center4_2 .top .span6{
	padding-left:20px;
	width:47px;
}
.center4_2 .top span a{
	text-decoration:none;
	font-size: 14px;
	line-height: 2px;
	color:#B41F21;
}

.center4_2 ul{
	width: 600px;
	list-style: none;
	font-size: 12px;
	line-height: 5px;
	
}

.center4_2 .al a{
	text-decoration: none;
	color: black;
}
.center4_2 .al li{
	float: left;
	border-bottom: 1px dotted black ;

}
.center4_2 .al li span{
	float: left;
	height: 22px;
}
.center4_2 .al li .span1{
	width: 280px;
}
.center4_2 .al li .span2{
	width:50px;
}
.center4_2 .al li .span3{
	width: 154px;
}
.center4_2 .al.zh{
	border-bottom: none;
}



.mright{
	margin-top: -1375px;
	float: left;
	margin-left: 954px;
	width: 234px;
	height: 1300px;

}
.right1{
	width: 234px;
	height: 230px;
	background-color: #ffd3a6;
}
.right1_2{
	width: 227px;
	height: 137px;
	background: #FFD3A6;
	padding-top: 5px;
}
.right1_2 ul{
	padding: 0px 20px;
}
.right1_2 ul li{
	list-style:none;
	border-bottom:1px dotted black;
	font-size: 14px;
	line-height: 26px;
	padding-left: 22px;
	background: url(huangdian_03.png)  4px 9px no-repeat;

}
.right1_2 ul li span{
	float: left;
	display: block;
	width: 60px;
	height: 25px;
	color: black;
}
 .right1_2 ul li .span1{
	width: 95px;
}
.right1_2 ul li a{
	display: block;
	text-decoration:none;
	overflow: hidden;
}
  

.right2{
	margin-top: 20px;
	width: 234px;
	height: 280px;
	background-color: #ffd3a6; 
}
.right2 .top{
	width: 234px;
	height: 44px;
    background-image: url(mid.png);
    background-repeat: repeat-x;
}

 .right2_2{
	height: 210px;
	padding-top: 5px;
}

.right2_2 ul li{
	list-style:none;
	
	font-size:12px;
	line-height: 25px;
	padding-left: 20px;
	background: url(huangdian_03.png) 6px 6px no-repeat;

}
.right2_2 ul li span .red{
	color: #B41F23;
}
.right2_2 ul li span .black{
	color: #020001;
}
.right2_2 ul li a{
	display: block;
	text-decoration:none;
	overflow: hidden;
	color: black;
}
 .right2_2 ul li a:hover{
	text-decoration: underline;
	color: black;
}

.right3{
	margin-top: 40px;
	width: 234px;
	height: 420px;
	background-color: #ffd3a6;
}
.right3 .top{
	width: 235px;
	height: 44px;
	background-image: url(mid.png);
	background-repeat: repeat-x;

}
.right3_2{
	height: 323px;
	background: #FFD3A6;
	margin-top: 5px;
}

.right3_2 dl{
	width: 203px;
	height: 76px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	border-bottom:1px solid #FF9935;
}
.right3_2 dl:hover{
	background: #FF9935;


}
.right3_2 dl dt{
	float: left;
	height: 76px;
}
.right3_2 dl dd{
	width: 120px;
	float: right;
	overflow: hidden;
	margin-left: 15px;
}
.right3_2 dl dd .span1{
	font-weight: bold;
	color: #B71E23;
	font-size:16px;
	line-height: 27px;
}
.right3_2 dl dd span{
	float: left;
	font-size: 14px;
	line-height: 27px;
}
.right3_2 .lo{
	border-bottom:none;
}



.right4{
	margin-top: 20px;
	width: 234px;
    height: 330px;
    background-color: #ffd3a6;
}



.footerf{
	width: 1200px;
	height: 50px;
	background: url(footer.jpg) repeat-x;
	border-top: 1px solid #FF9935;
	border-bottom: 1px solid #FF9935;
	margin:0 auto;
	margin-left: 15px;
}
.footerf ul{
	width: 685px;
	margin: 0 auto;
}
.footerf ul li{
	float: left;
	font-size: 14px;
	line-height: 50px;
	width: 84px;
	text-align: center;
	list-style: none;
}
.footerf ul li a{
	color: #801213;
	text-decoration:none;
	border-right:1px solid #801213;
	padding-right: 13px;
	font-weight: bold;
}
.footerf ul li a:hover{
	text-decoration:underline;
}
